#floating-controls {
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    z-index: 999;
}

.controls-wrapper {
    display: flex;
    flex-direction: column;;
    gap: .5rem;
}

.floating-button button {
    cursor: pointer;
    padding: 1rem;
    background-color: #000000a0;
    border-radius: 100vmax;
    transition: 150ms ease-in-out;
}
.floating-button button:not(.disabled):hover {
    background-color: black;
}
.floating-button svg {
    fill: white;
    stroke: white;
    width: 2rem;
    height: 2rem;
}

.floating-button button.disabled {
    cursor:not-allowed;
    opacity: .5;
}