header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: black;
  border-bottom: 0.25rem solid white;
}
header .page-logo {
  padding: 0 clamp(0rem, 5vw, 7.5rem);
  height: 2rem;
  filter: brightness(0) invert(1);
}
header .page-title {
  margin: 0;
  flex-grow: 1;
  color: white;
  font-size: 1.5rem;
}

@media screen and (width <= 40rem) {
  header .page-title {
    display: none;
  }
}
