:root {
  --bg-1: #fff;
  --bg-2: #fff;

  --fg-1: #000;
  --fg-2: #171717;
  --fg-3: #303030;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: black;
}

main {
  position: relative;
  display: flex;
  padding: 0 calc(2rem + clamp(0rem, 5vw, 7.5rem));
  height: calc(100dvh - 4.25rem);
}

#background {
  position: absolute;
  inset: 0;
  content: "";
  background-image: url("../assets/background-cacao.jpg");
  background-size: cover;
  background-position: center bottom;
  filter: blur(1rem) brightness(80%);
  isolation: isolate;
  z-index: -1;
}

@media screen and (width <= 40rem) {
  main {
    padding: 0 0.5rem;
  }
}
