:root {
  --bg-1: #fff;
  --bg-2: #fff;
  --bg-3: #e0e0e0;
  --bg-alpha: #ffffff90;
  --border-alpha: #ffffffb0;

  --fg-1: #000;
  --fg-2: #171717;
  --fg-3: #303030;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: white;
}

main {
  position: relative;
  display: flex;
  padding: 0 calc(2rem + clamp(0rem, 5vw, 7.5rem));
  height: calc(100dvh - 4.25rem);
}

.background-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  isolation: isolate;
  z-index: -1;
}
#background {
  position: absolute;
  inset: -4rem;
  content: "";
  background-image: url("../assets/background-cacao.jpg");
  background-size: cover;
  background-position: center bottom;
  filter: blur(3rem) brightness(1);
  z-index: -1;
}

@media screen and (width <= 40rem) {
  main {
    padding: 0 0.5rem;
  }
}
