#image-popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: hsl(0, 0%, 0%, 0.75);
  z-index: 1000;
  transition: 100ms;
}
#image-popup.popup-hidden {
  opacity: 0;
  z-index: -1000;
}
.popup-content {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, 90%, 80rem);
  height: clamp(10rem, 90%, 60rem);
  background-color: white;
  border-radius: 1rem;
}
#image-popup .title {
  flex: 0 1 auto;
  margin: 0 0.5rem;
  padding: 1rem 0.5rem;
  border-bottom: 0.125rem solid var(--fg-3);
  font-size: 1.5rem;
  font-weight: 600;
}
.popup-section {
  flex: 1 1 0;
  padding: 0.5rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}
.popup-section table td {
  font-weight: 700;
  font-size: 1.25rem;
}
.popup-section table td:first-of-type {
  padding-right: 1rem;
}
.popup-section table td:last-of-type {
  text-align: right;
}
.image-view-wrapper {
  flex: 1 1 0;
}
.image-view-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #00000030;
  border-radius: .5rem;
}

.image-title {
  flex: 0 0 auto;
  text-align: center;
  margin: .5rem 0;
  font-weight: bold;
}
.image-wrapper {
  flex: 1 1 0;
  display: flex;
  overflow: hidden;
}
.image-image {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  margin: 0 auto;
  width: auto;
  height: auto;
  object-fit: contain;
}

.image-view-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: .25rem;
}
.popup-sidebar {
  display: flex;
  flex-direction: column;
}
.pages {
  margin-top: auto;
  align-self: center;
  font-size: 1.25rem;
  color: #000000c0;
}
.pages #current-page {
  color: black;
  font-weight: 600;
}

#toast {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem gray;
  z-index: 9999;
  transition: 150ms;
}

#toast.popup-hidden {
  opacity: 0;

}

#image-view-loader {
  display: none;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

#image-view-loader > div {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}