#image-popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: hsl(0, 0%, 0%, 0.75);
  z-index: 1000;
  transition: 100ms;
}
#image-popup.popup-hidden {
  opacity: 0;
  z-index: -1000;
}
.popup-content {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, 90vw, 70rem);
  height: clamp(10rem, 90vh, 50rem);
  background-color: white;
  border-radius: 1rem;
}
#image-popup .title {
  flex: 0 1 auto;
  margin: 0 0.5rem;
  padding: 1rem 0.5rem;
  border-bottom: 0.125rem solid var(--fg-3);
  font-size: 1.5rem;
  font-weight: 600;
}
.popup-section {
  flex: 1 1 0;
  padding: 0.5rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem
}
.popup-section table td:first-of-type {
  font-weight: 700;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.popup-section table td:last-of-type {
  text-align: right;
}
.image-view-wrapper {
  flex: 1 1 0;
  background-color: var(--bg-3);
  border-radius: calc(1rem - .5rem);
}
