main {
  --gap: 0.5rem;
}
.column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: var(--gap);
  margin: 1rem 0;
}

.row {
  display: flex;
  flex: 1 0 0;
  flex-direction: row;
  gap: var(--gap);
}

.widget {
  --clr: white;
  --value: 0%;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  padding: 1rem;
  background-color: var(--bg-alpha);
  border: 1px solid var(--border-alpha);
  border-radius: 0.5rem;
}
.widget .title {
  flex: 0 1 auto;
  margin: 0;
  padding: 0.5rem;
  padding-top: 0;
  color: var(--fg-1);
  border-bottom: 0.125rem solid var(--fg-3);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
.widget .object {
  flex: 1 1 0;
}
.widget .value {
  flex: 0 1 auto;
  margin: 0 auto;
  width: 100%;
  color: var(--fg-1);
  border: 0.25rem solid var(--clr);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 100vmax;
}
#camera, #camera1 {
  display: flex;
  align-items: stretch;
  background-color: var(--bg-alpha);
  overflow: hidden;
}
#camera img, #camera1 img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.credits {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: .25rem;
  padding: 0.5rem;
  /* background-color: hsl(120, 60%, 70%); */
  color: white;
  background-color: var(--bg-alpha);
  border: 0.5rem solid #055495;
  box-shadow: 0 0 0 .25rem var(--border-alpha);
  border-radius: 0.4rem;
}
.credits .names {
  flex: 1 1 0;
}
.credits h3,
.credits p {
  margin: 0;
  color: var(--fg-1);
  width: fit-content;
}
.credits p {
  padding-left: 0.5rem;
}
.credits .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
}
.credits .logo img {
  width: 8rem;
}
