.widget .bulb {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
}

.bulb .ball-border,
.bulb .bar-border {
  border: 0.25rem solid var(--fg-1);
}
.bulb .ball-border {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 5 1 0;
  aspect-ratio: 1;
  border-radius: 100vmax;
  isolation: isolate;
}
.bulb .ball-border::after {
  position: absolute;
  bottom: -0.25rem;
  left: 20%;
  width: 60%;
  height: 12.5%;
  background-color: transparent;
  border: 0.25rem solid var(--fg-1);
  border-top: 0;
  border-bottom: 0;
  z-index: -1;
  transform: translateX(-0.25rem);
}
.bulb .ball {
  width: clamp(0.5rem, var(--value), calc(100% - 2rem));
  height: clamp(0.5rem, var(--value), calc(100% - 2rem));
  background-color: var(--clr);
  border-radius: 100vmax;
  z-index: 1;
  transition: 100ms;
}

.bulb .bar-border {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  aspect-ratio: 3;
  background-color: transparent;
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
  isolation: isolate;
}
.bulb .bar-border::after {
  position: absolute;
  content: "";
  inset: -0.2rem;
  background-color: transparent;
  border: 0.25rem solid var(--fg-1);
  border-top: 0;
  border-bottom: 0;
  z-index: -1;
  top: -66%;
  bottom: 50%;
}
.bulb .bar {
  flex: 1 1 0;
  margin: 0.5rem;
  margin-top: 0;
  border-bottom: 0.25rem solid var(--clr);
  border-top: 0;
  border-radius: 0.5rem;
}
