.temp-button {
  display: flex;
  align-items: center;
}

.temp-button .border {
  --fill: hsl(0, 70%, 60%);
  --unfill: hsl(120, 70%, 60%);
  cursor: pointer;
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  background-color: transparent;
  border: 0.25rem solid var(--fg-1);
  border-radius: 100vmax;
  isolation: isolate;
}
.temp-button .border:not(.active) {
  opacity: 0.5;
}
.temp-button .border::before {
  content: "";
  position: absolute;
  inset: 0.5rem;
  background: linear-gradient(0deg, var(--unfill) var(--value), var(--fill) 0%);
  border-radius: 100vmax;
  z-index: -1;
}

.temp-button .state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
