.widget .thermometer {
  --size: 2rem;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
}
.thermometer .ball-border,
.thermometer .bar-border {
  border: 0.25rem solid var(--fg-1);
}

.thermometer .bar-border {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1 1 0;
  padding-bottom: 0;
  border-bottom: 0;
  border-radius: 100vmax 100vmax 0 0;
}
.thermometer .bar {
  width: calc(var(--size) - 1rem);
  height: var(--value);
  background-color: var(--clr);
  border: 0.5rem solid transparent;
  border-bottom: 0;
  border-radius: 100vmax 100vmax 0 0;
  transition: 100ms;
  background-clip: padding-box;
}
.thermometer .ball-border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 var(--size);
  border-radius: 100vmax;
}
.thermometer .ball {
  width: var(--size);
  height: var(--size);
  background-color: var(--clr);
  border: 0.5rem solid transparent;
  border-radius: 100vmax;
  isolation: isolate;
  background-clip: padding-box;
}
.thermometer .ball-border::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  width: calc(var(--size) + 0.4rem);
  height: 1rem;
  background-color: var(--fg-1);
  background-clip: padding-box;
}
.thermometer .ball-border::after {
  position: absolute;
  content: "";
  top: -0.25rem;
  width: calc(var(--size) - 1rem);
  height: 0.85rem;
  background-color: var(--clr);
  border: 0.5rem solid transparent;
  border-top: 0;
  border-bottom: 0;
  z-index: 1;
  background-clip: padding-box;
}
