.widget .waterdrop {
  position: relative;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
}

.waterdrop .ball-border,
.waterdrop .box-border {
  border: 0.25rem solid var(--fg-1);
}

.waterdrop .ball-border {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 8rem;
  border: 0.5rem solid transparent;
  box-shadow: 0 0 0 0.25rem var(--fg-1);
  border-radius: 100vmax;
  overflow: hidden;
}
.waterdrop .ball {
  height: var(--value);
  width: 100%;
  background-color: var(--clr);
  transition: 100ms;
}
