services:
  backend:
    build: ./backend
    container_name: backend-camara
    restart: unless-stopped
    ports:
    - ${API_PORT}:5000
    privileged: true
    volumes:
    - /media:/media
    - ${CAM_DEST}:/results
    env_file:
    - .env

  frontend:
    build: ./frontend
    container_name: dashboard-camara
    restart: unless-stopped
    ports: 
    - ${DASHBOARD_PORT}:80
    env_file:
    - .env