.thermometer {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.thermometer svg {
  flex: 1 1 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.thermometer rect,
.thermometer circle {
  fill: var(--clr);
}

.thermometer rect {
  height: var(--height);
  transition: 150ms;
  y: var(--y);
}
