.widget {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bg-alpha);
  border: 1px solid var(--border-alpha);
  border-radius: 0.5rem;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.widget-title {
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-bottom: 0.125rem solid var(--fg-3);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
.widget-title + * {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.widget .object {
  padding: 1rem 0 0.5rem 0;
  flex: 1 1 0;
}
.widget .value {
  flex: 0 1 auto;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.widget:has(#credits) {
  padding: 0.5rem;
}
#credits {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  height: calc(100% - 1rem);
  box-shadow: 0 0 0 0.5rem #055594;
}
#credits .names {
  flex: 1 1 0;
}
#credits p {
  margin: 0;
  color: var(--fg-1);
  width: fit-content;
  padding-left: 0.5rem;
}
#credits .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
}
#credits .logo img {
    max-height: 100%;
  width: auto;
}
