.widget .object.value {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  flex: 1 1 0;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border: none;
  font-size: 2.5rem;
}
