#control-panel {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 999;
}

.panel-button {
  cursor: pointer;
  padding: 1rem;
  background-color: #000000a0;
  border-radius: 100vmax;
  transition: 150ms ease-in-out;
}
.panel-button:not(.disabled):hover {
  background-color: black;
}
.panel-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.panel-button > img {
  width: 2rem;
  aspect-ratio: 1;
  filter: brightness(0) invert(1);
}
