#control-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #000000a0;
  border: 1px solid #ffffff70;
  border-radius: 0.5rem;
}

.button-wrapper {
  position: relative;
}
.lower-control {
  margin-top: auto;
}
.button-wrapper:hover .button-hover-label {
  opacity: 1;
}
.button-hover-label {
  position: absolute;
  padding: 0.5rem 1rem;
  width: fit-content;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 1rem - 1px), -50%);
  color: black;
  background-color: white;
  border: 1px solid #00000070;
  border-radius: 100vmax;
  text-wrap: nowrap;
  opacity: 0;
  transition: 150ms ease-in-out;
  pointer-events: none;
}
.panel-button {
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
  transition: 150ms ease-in-out;
  border: 1px solid #ffffff40;
  border-radius: 0.5rem;
}
.panel-button:not(.disabled):hover {
  background-color: #ffffff40;
}
.panel-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.panel-button > img {
  width: 2rem;
  aspect-ratio: 1;
  filter: brightness(0) invert(1);
}

.primary-btn,
.secondary-btn {
  cursor: pointer;
  border-radius: 100vmax;
  padding: .5rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.primary-btn:hover, .secondary-btn:hover {
  filter: brightness(0.85);
}
.primary-btn {
  border: none;
  background-color: hsl(0, 60%, 60%);
}
.secondary-btn {
  background-color: white;
  border: 1px solid black;
}
.confirmation-buttons {
  padding: 1rem;
  padding-top: 0;
}